In [2]:
import pandas as pd

df = pd.read_csv('AfricaCupofNationsMatches.csv')

In [3]:
df.head(7)

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,0.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0
5,1959,29-May-59,NaN,Egypt,Sudan,2.0,1.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
6,1962,14-Jan-62,NaN,Ethiopia,Tunisia,4.0,2.0,Semifinals,NaN,Hailé Sélassié Stadium,Addis Ababa,30000.0

In [4]:
new_df = df[['HomeTeam','AwayTeam','HomeTeamGoals','AwayTeamGoals']]
new_df

        HomeTeam       AwayTeam  HomeTeamGoals  AwayTeamGoals
0         Sudan           Egypt            1.0            2.0
1      Ethiopia    South Africa            NaN            NaN
2         Egypt        Ethiopia            4.0            0.0
3          Egypt       Ethiopia            4.0            0.0
4         Sudan        Ethiopia            1.0            0.0
..           ...            ...            ...            ...
617  Madagascar         Tunisia            0.0            3.0
618     Senegal         Tunisia            1.0            0.0
619     Algeria         Nigeria            2.0            1.0
620     Tunisia         Nigeria            0.0            1.0
621     Senegal         Algeria            0.0            1.0

[622 rows x 4 columns]

In [5]:
egypt_df = new_df[(new_df['HomeTeam'] == 'Egypt') | (new_df['AwayTeam'] == 'Egypt')]
egypt_df

     HomeTeam   AwayTeam  HomeTeamGoals  AwayTeamGoals
3       Egypt   Ethiopia            4.0            0.0
5       Egypt      Sudan            2.0            1.0
7       Egypt     Uganda            2.0            1.0
9   Ethiopia       Egypt            4.0            2.0
13      Egypt    Nigeria            6.0            3.0
14      Egypt      Sudan            2.0            2.0
16      Egypt   Ethiopia            3.0            0.0

In [6]:
new_df.shape

(622, 4)

In [10]:
null_attendance_rows = df[df['Attendance'].isnull()]
null_attendance_rows.head()

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
8,1962,20-Jan-62,NaN,Tunisia,Uganda,3.0,0.0,Third place match,NaN,Hailé Sélassié Stadium,Addis Ababa,NaN
9,1962,21-Jan-62,NaN,Ethiopia,Egypt,4.0,2.0,Final,win after extra time,Hailé Sélassié Stadium,Addis Ababa,NaN
10,1963,24-Nov-63,NaN,Ghana,Tunisia,1.0,1.0,Group A,NaN,Accra Sports Stadium,Accra,NaN
11,1963,26-Nov-63,NaN,Ghana,Ethiopia,2.0,0.0,Group A,NaN,Accra Sports Stadium,Accra,NaN

In [16]:
# Select rows where HomeTeamGoals are between 3 and 6 inclusive
high_scoring_home = df[(df['HomeTeamGoals'] >= 3) & (df['HomeTeamGoals'] <= 6)]

# Alternative method using the between() function
# high_scoring_home = new_df[new_df['HomeTeamGoals'].between(3, 6)]

# Display the result
print(f"Number of matches where home team scored 3-6 goals: {len(high_scoring_home)}")
high_scoring_home.sample(5)

Number of matches where home team scored 3-6 goals: 138

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
97,1976,1-Mar-76,NaN,Nigeria,Zaire,4.0,2.0,Group B,NaN,Dire Dawa Stadium,Dire Dawa,NaN
351,2000,10-Feb-00,18:30,Cameroon,Tunisia,3.0,0.0,Semifinals,NaN,Accra Sports Stadium,Accra,6000.0
135,1980,16-Mar-80,NaN,Algeria,Guinea,3.0,2.0,Group B,NaN,Liberty Stadium,Ibadan,20000.0
8,1962,20-Jan-62,NaN,Tunisia,Uganda,3.0,0.0,Third place match,NaN,Hailé Sélassié Stadium,Addis Ababa,NaN
480,2008,9-Feb-08,17:00,Ghana,Ivory Coast,4.0,2.0,Third place match,NaN,Baba Yara Stadium,Kumasi,40000.0

In [17]:
# Change the AwayTeamGoals in the 3rd row (index 2) to 10
df.at[2, 'AwayTeamGoals'] = 10

# Display the updated row to verify the change
print("Updated 3rd row:")
print(df.iloc[2])

Updated 3rd row:
Year                                 1957
Date                            16-Feb-57
Time                                  NaN
HomeTeam                           Egypt
AwayTeam                         Ethiopia
HomeTeamGoals                         4.0
AwayTeamGoals                        10.0
Stage                               Final
SpecialWinConditions                  NaN
Stadium                 Municipal Stadium
City                             Khartoum
Attendance                        30000.0
Name: 2, dtype: object

In [18]:
#Grouping rows using hometeam name then sort them by their goals
sorted_df = df.sort_values(by=['HomeTeam', 'HomeTeamGoals'], ascending=[True, False])


print("DataFrame sorted by HomeTeam (ascending) and HomeTeamGoals (descending):")
sorted_df.head(10)  # Show first 10 rows of the sorted DataFrame

DataFrame sorted by HomeTeam (ascending) and HomeTeamGoals (descending):

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
205,1990,2-Mar-90,NaN,Algeria,Nigeria,5.0,1.0,Group A,NaN,Stade 5 Juillet 1962,Algiers,85000.0
29,1968,14-Jan-68,NaN,Algeria,Uganda,4.0,0.0,Group A,NaN,Hailé Sélassié Stadium,Addis Ababa,25000.0
135,1980,16-Mar-80,NaN,Algeria,Guinea,3.0,2.0,Group B,NaN,Liberty Stadium,Ibadan,20000.0
164,1984,5-Mar-84,NaN,Algeria,Malawi,3.0,0.0,Group B,NaN,Stade Bouaké,Bouaké,10000.0
171,1984,17-Mar-84,NaN,Algeria,Egypt,3.0,1.0,Third place match,NaN,Stade Félix Houphouët-Boigny,Abidjan,500.0
208,1990,5-Mar-90,NaN,Algeria,Ivory Coast,3.0,0.0,Group A,NaN,Stade 5 Juillet 1962,Algiers,86000.0
331,2000,29-Jan-00,19:45,Algeria,Gabon,3.0,1.0,Group B,NaN,Kumasi Sports Stadium,Kumasi,5000.0
611,2019,7 July 2019 (2019-07-07),21:00,Algeria,Guinea,3.0,0.0,Round of 16,NaN,30 June Stadium,Cairo,8205.0
138,1980,19-Mar-80,NaN,Algeria,Egypt,2.0,2.0,Semi-finals,NaN,Liberty Stadium,Ibadan,5000.0
150,1982,10-Mar-82,NaN,Algeria,Nigeria,2.0,1.0,Group B,NaN,28 March Stadium,Benghazi,5000.0

In [ ]:
#List of header
header_list=list(df.columns)
print(header_list)

['Year', 'Date ', 'Time ', 'HomeTeam', 'AwayTeam', 'HomeTeamGoals', 'AwayTeamGoals', 'Stage', 'SpecialWinConditions', 'Stadium', 'City', 'Attendance']

In [27]:
#new row to append
new_row = {
    'Year': 2025,
    'Date ': '2025-06-04',  
    'Time ': '18:00',      
    'HomeTeam': 'Uganda Cranes',
    'AwayTeam': 'Brazil',
    'HomeTeamGoals': 12,
    'AwayTeamGoals': 1,
    'Stage': 'Final',
    'SpecialWinConditions': None,
    'Stadium': 'Mandela National Stadium',
    'City': 'Kampala',
    'Attendance': 100000
}

#new row to append
new_row1 = {
    'Year': 2025,
    'Date ': '2025-06-04',  
    'Time ': '18:00',      
    'HomeTeam': 'Portugal',
    'AwayTeam': 'Uganda',
    'HomeTeamGoals': 1,
    'AwayTeamGoals': 12,
    'Stage': 'Final',
    'SpecialWinConditions': None,
    'Stadium': 'Haahaa Stadium',
    'City': 'oba which one',
    'Attendance': 100000
}
# Append the row to the DataFrame
df = pd.concat([df, pd.DataFrame([new_row])], ignore_index=True)
df = pd.concat([df, pd.DataFrame([new_row1])], ignore_index=True)

df.tail(2)

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
627,2025,2025-06-04,18:00,Uganda Cranes,Brazil,12.0,1.0,Final,None,Mandela National Stadium,Kampala,100000.0
628,2025,2025-06-04,18:00,Portugal,Uganda,1.0,12.0,Final,None,Haahaa Stadium,oba which one,100000.0

In [38]:
df.tail(10)

,index,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance,TotalGoals
619,619,2019,14 July 2019 (2019-07-14),21:00,Algeria,Nigeria,2.0,1.0,Semi-finals,NaN,Cairo International Stadium,Cairo,49775.0,3.0
620,620,2019,17 July 2019 (2019-07-17),21:00,Tunisia,Nigeria,0.0,1.0,Third place play-off,NaN,Al Salam Stadium,Cairo,6340.0,1.0
621,621,2019,19 July 2019 (2019-07-19),21:00,Senegal,Algeria,0.0,1.0,Final,NaN,Cairo International Stadium,Cairo,75000.0,1.0
622,622,2025,2025-06-04,18:00,Uganda Cranes,Brazil,12.0,1.0,Final,None,Mandela National Stadium,Kampala,100000.0,13.0
623,623,2025,2025-06-04,18:00,Uganda Cranes,Brazil,12.0,1.0,Final,None,Mandela National Stadium,Kampala,100000.0,13.0
624,624,2025,2025-06-04,18:00,Portugal,China,12.0,1.0,Final,None,Haahaa Stadium,oba which one,100000.0,13.0
625,625,2025,2025-06-04,18:00,Uganda Cranes,Brazil,12.0,1.0,Final,None,Mandela National Stadium,Kampala,100000.0,13.0
626,626,2025,2025-06-04,18:00,Portugal,China,12.0,1.0,Final,None,Haahaa Stadium,oba which one,100000.0,13.0
627,627,2025,2025-06-04,18:00,Uganda Cranes,Brazil,12.0,1.0,Final,None,Mandela National Stadium,Kampala,100000.0,13.0
628,628,2025,2025-06-04,18:00,Portugal,China,1.0,12.0,Final,None,Haahaa Stadium,oba which one,100000.0,13.0

In [28]:
df['AwayTeam'].replace('Uganda', 'China', inplace=True)

/tmp/ipykernel_121756/3232310272.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['AwayTeam'].replace('Uganda', 'China', inplace=True)

In [29]:
df.tail(2)

,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
627,2025,2025-06-04,18:00,Uganda Cranes,Brazil,12.0,1.0,Final,None,Mandela National Stadium,Kampala,100000.0
628,2025,2025-06-04,18:00,Portugal,China,1.0,12.0,Final,None,Haahaa Stadium,oba which one,100000.0

In [30]:
df = df.reset_index()

In [32]:
df.tail(2)

,index,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
627,627,2025,2025-06-04,18:00,Uganda Cranes,Brazil,12.0,1.0,Final,None,Mandela National Stadium,Kampala,100000.0
628,628,2025,2025-06-04,18:00,Portugal,China,1.0,12.0,Final,None,Haahaa Stadium,oba which one,100000.0

In [33]:
if 'Stadium' in df.columns:
    print('Stadium is present')
else:
    print('Stadiumm is not present in the dataset')

Stadium is present

In [34]:
# Convert 'AwayTeamGoals' column from int to float
df['AwayTeamGoals'] = df['AwayTeamGoals'].astype(float)

# Display the datatype before and after conversion
print("Data type after conversion:", df['AwayTeamGoals'].dtype)

df.head()

Data type after conversion: float64

,index,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance
0,0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0
1,1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN
2,2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,10.0,Final,NaN,Municipal Stadium,Khartoum,30000.0
3,3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0
4,4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0

In [36]:
#new column using existing.
df['TotalGoals'] = df['HomeTeamGoals'] + df['AwayTeamGoals']

In [37]:
df.head()

,index,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance,TotalGoals
0,0,1957,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,Semifinals,NaN,Municipal Stadium,Khartoum,30000.0,3.0
1,1,1957,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,Semifinals,Ethiopia wins due to disqualification of othe...,NaN,NaN,NaN,NaN
2,2,1957,16-Feb-57,NaN,Egypt,Ethiopia,4.0,10.0,Final,NaN,Municipal Stadium,Khartoum,30000.0,14.0
3,3,1959,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,30000.0,4.0
4,4,1959,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,Final Tournament,NaN,Prince Farouk Stadium,Cairo,20000.0,1.0

In [39]:
#slicing the last 10 rows
df = df[:-10]

In [40]:
df.tail(10)

,index,Year,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Stage,SpecialWinConditions,Stadium,City,Attendance,TotalGoals
609,609,2019,6 July 2019 (2019-07-06),21:00,Egypt,South Africa,0.0,1.0,Round of 16,NaN,Cairo International Stadium,Cairo,75000.0,1.0
610,610,2019,7 July 2019 (2019-07-07),18:00,Madagascar,DR Congo,2.0,2.0,Round of 16,Madagascar win on Penalities 4-2,Alexandria Stadium,Alexandria,5890.0,4.0
611,611,2019,7 July 2019 (2019-07-07),21:00,Algeria,Guinea,3.0,0.0,Round of 16,NaN,30 June Stadium,Cairo,8205.0,3.0
612,612,2019,8 July 2019 (2019-07-08),18:00,Mali,Ivory Coast,0.0,1.0,Round of 16,NaN,Suez Stadium,Suez,7672.0,1.0
613,613,2019,8 July 2019 (2019-07-08),21:00,Ghana,Tunisia,1.0,1.0,Round of 16,Tunisia win on Penalities 4-5,Ismailia Stadium,Ismailia,8890.0,2.0
614,614,2019,10 July 2019 (2019-07-10),18:00,Senegal,Benin,1.0,0.0,Quarter-finals,NaN,30 June Stadium,Cairo,5798.0,1.0
615,615,2019,10 July 2019 (2019-07-10),21:00,Nigeria,South Africa,2.0,1.0,Quarter-finals,NaN,Cairo International Stadium,Cairo,48343.0,3.0
616,616,2019,11 July 2019 (2019-07-11),18:00,Ivory Coast,Algeria,1.0,1.0,Quarter-finals,Algeria win on Penalities 3-4,Suez Stadium,Suez,8233.0,2.0
617,617,2019,11 July 2019 (2019-07-11),21:00,Madagascar,Tunisia,0.0,3.0,Quarter-finals,NaN,Al Salam Stadium,Cairo,7568.0,3.0
618,618,2019,14 July 2019 (2019-07-14),18:00,Senegal,Tunisia,1.0,0.0,Semi-finals,win after extra time,30 June Stadium,Cairo,9143.0,1.0

In [45]:
new_order = [
    'index', 'TotalGoals', 'Date ', 'Time ', 'HomeTeam', 'AwayTeam',
    'HomeTeamGoals', 'AwayTeamGoals', 'Attendance', 'SpecialWinConditions',
    'Stadium', 'City', 'Stage', 'Year'
]

df = df[new_order]
df.head()

,index,TotalGoals,Date,Time,HomeTeam,AwayTeam,HomeTeamGoals,AwayTeamGoals,Attendance,SpecialWinConditions,Stadium,City,Stage,Year
0,0,3.0,10-Feb-57,NaN,Sudan,Egypt,1.0,2.0,30000.0,NaN,Municipal Stadium,Khartoum,Semifinals,1957
1,1,NaN,10-Feb-57,NaN,Ethiopia,South Africa,NaN,NaN,NaN,Ethiopia wins due to disqualification of othe...,NaN,NaN,Semifinals,1957
2,2,14.0,16-Feb-57,NaN,Egypt,Ethiopia,4.0,10.0,30000.0,NaN,Municipal Stadium,Khartoum,Final,1957
3,3,4.0,22-May-59,NaN,Egypt,Ethiopia,4.0,0.0,30000.0,NaN,Prince Farouk Stadium,Cairo,Final Tournament,1959
4,4,1.0,25-May-59,NaN,Sudan,Ethiopia,1.0,0.0,20000.0,NaN,Prince Farouk Stadium,Cairo,Final Tournament,1959