In [1]:
#Lists
names = ["Andrew", "Eve","Norah", "Laurah", "Rorlyn"]
#Updating the first name
names[0] = "Akanga"
print(names)

['Akanga', 'Eve', 'Norah', 'Laurah', 'Rorlyn']

In [2]:
#Adding a sixth name
names.append("Martha")
print(names)

['Akanga', 'Eve', 'Norah', 'Laurah', 'Rorlyn', 'Martha']

In [3]:
#inserting a name in the 3rd position
names.insert(2, "Bathel")
print(names)

['Akanga', 'Eve', 'Bathel', 'Norah', 'Laurah', 'Rorlyn', 'Martha']

In [45]:
#Remove a specific index element
names.pop(3)

print(names)
print(len(names))

['Akanga', 'Eve', 'Bathel', 'Rorlyn', 'Martha']
5

In [6]:
#Accessing elements using negative indexing
print(names[-1])

Martha

In [7]:
#Slicing
cars = list(("Ford Mustarg","Aston Martin Valkyrie", "Pagani Huayra", "Porsche 911", "McLaren Senna", "Koenigsegg Jesko", "Bugatti Chiron"))
print(cars[2:5])

['Pagani Huayra', 'Porsche 911', 'McLaren Senna']

In [8]:
#Copying a list
countries = ["Uganda", "Kenya", "Tanzania", "Rwanda", "Burundi"]
copy_countries = countries.copy()
print(copy_countries)

['Uganda', 'Kenya', 'Tanzania', 'Rwanda', 'Burundi']

In [9]:
#looping through a list
for country in  countries:
    print(country)

Uganda
Kenya
Tanzania
Rwanda
Burundi

In [10]:
#Sorting a list
animal = ["Dog", "Cat", "Elephant", "Lion", "Tiger"]
#ascending
animal.sort()
print(animal)
#descending
animal.sort(reverse=True)
print(animal)

['Cat', 'Dog', 'Elephant', 'Lion', 'Tiger']
['Tiger', 'Lion', 'Elephant', 'Dog', 'Cat']

In [11]:
#printing all elements with letter "a"
for a in animal:
    if "a" in a:
        print(a)

Elephant
Cat

In [12]:
#Joining a list
first_names = ["Bwebale", "Akanga", "Segunja"]
Second_names= ["Grey", "Andrew", "Alma"]

Full_name = first_names + Second_names
print(Full_name)

['Bwebale', 'Akanga', 'Segunja', 'Grey', 'Andrew', 'Alma']

In [13]:
#what i want to match first name to second
Full_name.clear()
i=0
while i < len(first_names):
    temp = first_names[i] + " " + Second_names[i]
    Full_name.append(temp)
    i+=1

for name in Full_name:
    print(name)

Bwebale Grey
Akanga Andrew
Segunja Alma

In [14]:
#Tuples

x = ("samsung", "iphone", "tecno", "redmi")
print(x[-2])

x[1]= "itel"
print(x)

tecno

TypeError: 'tuple' object does not support item assignment

In [15]:
#Tuples are immutable so trying to update a tuple after creation will throw an error
#However, I can convert a tuple to a list, then update the list and convert it back
x = list(x)
x[1]= "itel"
x = tuple(x)
print(x)

('samsung', 'itel', 'tecno', 'redmi')

In [16]:
#Appending an element to a tuple
x = list(x)
x.append("Huawei")
x = tuple(x)
print(x)

('samsung', 'itel', 'tecno', 'redmi', 'Huawei')

In [17]:
#looping through a list
for i in x:
    print(i)

samsung
itel
tecno
redmi
Huawei

In [18]:
#popping a given element a specific index
x = list(x)
x.pop(0)
x = tuple(x)
print(x)

('itel', 'tecno', 'redmi', 'Huawei')

In [20]:
#unpacking a tuple.
#*name_of_an_element means that "name_of_an_element is a list
cities = tuple(("Kampala", "Masaka", "Mbarara", "Jinja", "Gulu"))
city1, city2, *city3 = cities
print(city1)
print(city3)

Kampala
['Mbarara', 'Jinja', 'Gulu']

In [21]:
#slicing a tuple
print(cities[1:4])

('Masaka', 'Mbarara', 'Jinja')

In [22]:
#joining
first_names = ("Bwebale", "Akanga", "Segunja")
second_names = ("Grey", "Andrew", "Alma")   
full_names = first_names + second_names
print(full_names)

('Bwebale', 'Akanga', 'Segunja', 'Grey', 'Andrew', 'Alma')

In [23]:
#multipling by a integer
colors = ("red", "green", "blue")
print(colors*3)

('red', 'green', 'blue', 'red', 'green', 'blue', 'red', 'green', 'blue')

In [24]:
# number of times an element appears
thistuple = (1,3,7,8,7,5,4,6,8,5)
count = 0
for i in thistuple:
    if i == 8:
        count+=1
print(count)

2

In [25]:
#Sets
fav_drinks = set(("Smirnoff", "Tusk lite", "Nile Special"))
fav_drinks.add("Bell Lager")
fav_drinks.add("Walagi") # Atimes
print(fav_drinks)

{'Tusk lite', 'Nile Special', 'Bell Lager', 'Smirnoff', 'Walagi'}

In [26]:
#Checking presence of an element
my_set = {"oven", "kettle", "microwave", "refrigerator"}
print("microwave" in my_set)

True

In [27]:
my_set.remove("kettle")
print(my_set)
#Removing an element that doesnt exist will throw an error

{'oven', 'microwave', 'refrigerator'}

In [28]:
# however using discard() will remove an element if it exists and do nothing if it doesn't
my_set.discard("Baby cooker")
print(my_set)

{'oven', 'microwave', 'refrigerator'}

In [29]:
#looping through
for i in my_set:
    print(i)

oven
microwave
refrigerator

In [30]:
#Can't change the values of a set once created but you can add and remove elements

sweet = {"fight", "so dirty", "but love" , "so sweet"}
sweet.add("talk so pretty")
sweet.add("but your heart got teeth")

print(sweet)

{'so sweet', 'so dirty', 'but love', 'talk so pretty', 'but your heart got teeth', 'fight'}

In [32]:
#joining sets
first_names = {"Bwebale", "Akanga", "Segunja"}
second_names = {"Grey", "Andrew", "Alma"}
full_names = first_names.union(second_names)
print(full_names)

{'Akanga', 'Alma', 'Grey', 'Andrew', 'Bwebale', 'Segunja'}

In [33]:
#Strings
age = 20
name = "Andrew"

print("My name is " + name + " and I am " + str(age) + " years old")
print(f"My name is {name} and I am {str(age)} years old")
print("My name is {} and I am {} years old".format(name, age))

My name is Andrew and I am 20 years old
My name is Andrew and I am 20 years old
My name is Andrew and I am 20 years old

In [34]:
txt = "      Hello, Uganda!     "
print(txt.strip()) # removes trailing and leading spaces

Hello, Uganda!

In [35]:
print(txt.replace("U", "V"))
#note replace() does not change the original string, it returns a new string

      Hello, Vganda!

In [36]:
print(txt.replace("U", "V"))
#note replace() does not change the original string, it returns a new string

      Hello, Vganda!

In [37]:
#Correcting "All "Data Scientists" are are cool!"
x = 'All "Data Scientists" are cool!'

In [50]:
#Dictionaries
#Store key_value pairs
#ordered
#Changable
Shoes = {
    "brand" : "Nick",
    "color" : "black",
    "size" : 41
}
print(len(Shoes))
print(type(Shoes))

print(Shoes["size"])
Shoes["brand"] = "Adidas"
print(Shoes["brand"])
Shoes.update({"size" :42})

Shoes["type"] = "sneakers"
print(Shoes)

3
<class 'dict'>
41
Adidas
{'brand': 'Adidas', 'color': 'black', 'size': 42, 'type': 'sneakers'}

In [39]:
#looping through keys
for key in Shoes:
    print(key)
#looping through values
print("\n\n\n")
for key in Shoes:
    print(Shoes[key])
print("\n\n\n")

#looping keys and values at once
for key, value in Shoes.items():
    print(key, value)

brand
color
size
type




Adidas
black
41
sneakers




brand Adidas
color black
size 41
type sneakers

In [40]:
#checking a presence in dictionary
if "size" in Shoes:
    print("ofcourse")

ofcourse

In [41]:
#Deleting a given element
Shoes.pop("color")
print(Shoes)
#Clearing the whole dictionary
Shoes.clear()
print(Shoes)

{'brand': 'Adidas', 'size': 41, 'type': 'sneakers'}
{}

In [42]:
#Making copies
my_dic = {
    "name": "Andrew",
    "age": 20,
    "country": "Uganda",
    "city": "Kampala"
} 

copy_dic = my_dic.copy()
print(copy_dic)

{'name': 'Andrew', 'age': 20, 'country': 'Uganda', 'city': 'Kampala'}

In [ ]:
#multidimensional dic
tired = {
    "Monday": {"8am": "Tired", "9am": "Tired", "10am": "Tired"},
    "Tuesday": {"8am": "Tired", "9am": "Tired", "10am": "Tired"},
    "Wednesday": {"8am": "Tired", "9am": "Tired", "10am": "Tired"},
    "Thursday": {"8am": "Tired", "9am": "Tired", "10am": "Tired"},
    "Friday": {"8am": "Tired", "9am": "Tired", "10am": "Tired"},
    "Saturday": {"8am": "Tired", "9am": "Tired", "10am": "Tired"},
}

print(tired["Monday"]["8am"])
print(tired)

Tired